.checkbox-image {
  //   border: 5px solid #333;

  .image-box {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15%;
    border: 3px solid #ccc;
    border-radius: 4px;
    text-align: center;

    &.active {
      border: 3px solid #00cc00;
    }

    &:hover {
      cursor: pointer;
      background-color: rgba(250, 250, 0, 0.25);
    }
  }
}
