.table-catalog {
    margin-top: -16px;
    .ant-table-tbody {
      tr {
        td {
          padding: 4px 16px;
          font-size: 14px;
        }
      }
    }
  
    .ant-table-pagination.ant-pagination {
      margin-right: opx;
      margin-bottom: 0;
    }
}
  