.cardview{
  &__wrapper{
    @include boxshadowcard;
    border-radius:10px;
    height:110px;
  }

  &__logo{
    width:45px;
    margin-bottom:-15px;
    position:absolute;

    &--img{
      width:100%;
    }
  }

  &__content{
    text-align:right;
    width:$globWidth;
    margin-top:35px;

    &--value{
      font-weight:bold;
      font-size:16pt;
      color:$color-red-1;
    }

    &--title{
      font-size:12pt;
      color:$color-black;
    }
  }
}