.dashboardcontainer{
  &__wrapper{
    background:$color-red-3;
  }

  &__header{
    margin-right:10px;

    &--logo{
      width:60px;
      height:60px;
      border-radius:$globBorderRad;
      background:$color-white;
      
      &-img{
        @include boxshadowcard;
        border-radius:$globBorderRad;
        width: $globWidth;
      }

    }
  }

  &__name{
    transform: translateY(.6em);
    @media screen and (max-width: 650px) {
      transform: unset;
    }
    font-size:16pt;
    color:$color-white;
  }
}