$globWidth: 100%;
$globHeight : 100%;
$globBorderRad : 50%;
$color-white : #fff;
$color-black : #000;
$textAlignTitle : center;
$color-red-1 : #C92050;
$color-red-2 : #C92036;
$color-red-3 : #BC2536; // logo mccp color

@mixin titleChart {
  width: $globWidth;
  text-align: $textAlignTitle;
}
@mixin wrapperChart {
  width: $globWidth;
  height:300px;
}
@mixin boxshadowcard {
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  box-shadow: 5px 5px 0 2px rgba(71, 39, 39, 0.39), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(225, 206, 206, 0.2);
}

@import "../styles/dashboardContainer.style.scss";
@import "../styles/cardContent.style.scss";
@import "../styles/cardView.style.scss";
@import "../styles/charttraffic.style.scss";
@import "../styles/chartpengadaan.style.scss";
@import "../styles/chartmocoComposed.style.scss";
@import "../styles/epustakatbl.style.scss";