.secondash-container{
    margin: 0px 30px;
    .part-container{
        margin-bottom: 30px;
        .part-header{
            border-bottom: 1px solid #8c8c8c;
            margin-bottom: 10px;
            width: 100%;
        }
        .part-body{
            margin-bottom: 20px;
        }
    }
    
    .card-container{
        -webkit-box-shadow: -4px 4px 4px -5px #777;
        -moz-box-shadow: -4px 4px 4px -5px  #777;
        box-shadow: -4px 4px 4px -5px  #777;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        display: inline-block;
        background: white;
        border: 1px solid #cacaca;
        border-radius: 5px;
        font-size: 13px;
        padding: 6px;
        .img-thumb{
            float: left;
            border: 1px solid #cacaca;
            border-radius: 5px;
            width: 100px;
            height: 100%;
            margin-right: 10px;
            overflow: auto;
            text-align: center;
            &:hover{
                -moz-box-shadow: 0 0 5px #18A0FB;
                -webkit-box-shadow: 0 0 5px #18A0FB;
                box-shadow: 0 0 5px #18A0FB;
                -webkit-transition: box-shadow 0.3s ease-in-out;
                transition: box-shadow 0.2s ease-in-out;
            }
            img{
                display: block;
                margin: auto;
                width: 100%;
            }
        }
        .description{
            float: left;
            height: 100%;
            width: calc(100% - 120px);
        }
    }
    .vertical-center {
        margin: auto auto 0px auto;
    }
}

.ant-col-4-8{
    width: 20%;
}
