.epustaka__list{
  position: relative;
  &--img-container{
    width: 100%;
    height: calc(30vw / 7 * 3);
    .epustaka__list--cover{
      width:100%;
      height: 100%;
      object-fit: contain;
      border-bottom:'0.0625em solid #f0f0f0';
      padding-bottom:'.3125em';
      transition: .5s ease;
      backface-visibility: hidden;
      opacity: 1;
      display: block;
    }
  }

  &--action{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 43%;
    left: 30%;
    display: grid;
    grid-column-gap: .4em;
    grid-template-columns: repeat(2,1fr);
    cursor: pointer;
  }

  &:hover &--cover{
    -webkit-filter: blur(.25em); /* Chrome, Safari, Opera */
    filter: blur(.25em);
    cursor: pointer;
  }

  &:hover &--action{
    cursor: pointer;
    opacity: 1;
    z-index: 1;
  }

}

@media only screen and (max-width: 1200px) {
  /* For mobile phones: */
  .epustaka__list--img-container {
    height: calc(30vw / 7 * 3);
  }
}

@media only screen and (max-width: 1080px) {
  /* For mobile phones: */
  .epustaka__list--img-container {
    height: calc(60vw / 7 * 3);
  }
}

@media only screen and (max-width: 760px) {
  /* For mobile phones: */
  .epustaka__list--img-container {
    height: calc(95vw / 7 * 3);
  }
}

@media only screen and (max-width: 640px) {
  /* For mobile phones: */
  .epustaka__list--img-container {
    height: calc(90vw / 7 * 3);
  }
}

@media only screen and (max-width: 575) {
  /* For mobile phones: */
  .epustaka__list--img-container {
    height: calc(190vw / 7 * 3);
  }
}

@media only screen and (max-width: 480px) {
  /* For mobile phones: */
  .epustaka__list--img-container {
    height: calc(180vw / 7 * 3);
  }
}

@media only screen and (max-width: 360px) {
  /* For mobile phones: */
  .epustaka__list--img-container {
    height: calc(170vw / 7 * 3);
  }
}


