.container-left, .container-right{
    border: 1px solid #c5c5c5;
    border-radius: 10px;
    margin:10px 20px;
    height: 400px;
}
.card-title-desc{
    width:100%;
    text-align:left;
    font-size: 12pt;
    font-weight: bold;
    margin-bottom: 10px;
}