.baca__container{
  width:100%;
  justify-content:center;
  display:grid;
  overflow: hidden;
  height: 90vh;
  
  &:hover{
    overflow: scroll;
  }
}
.baca__button{
  position:fixed;
  right: 8em;
  top: 12em;
}