.detail_katalogs{
  height:12em;
  overflow: hidden;
  &:hover{
    overflow-y:scroll;
  }
}

.form__epustaka{
  &--wrapper{
    display:flex;
    justify-content:space-between;
  }
  
  &--help{
    color:orangered;
  }
}