.ant-upload-picture-card-wrapper {
    display: inline-block;
    width: 100%;
    padding: 0px 20%;
}

// .ant-upload-list.ant-upload-list-picture-card{
//     width: auto;
// }
// .ant-upload-list{
//     width: inherit;
//     .ant-upload-list-picture-card{
//         width: inherit;
//         height: 160px;
//     }
//     .ant-upload-list-picture-card-container {
//         width: inherit;
//         height: 160px;
//         .ant-upload-list-item , .ant-upload-list-item-done,  .ant-upload-list-item-list-type-picture-card{
//             width: inherit;
//             height: 160px;
//         }
//     }
// }

// .ant-upload.ant-upload-select-picture-card {
//     width: inherit;
//     height: 160px;
// }

// .ant-upload-list-item-info{
//     width: inherit;
// }

// .ant-upload-list-item-uploading{
//     width: 100%;
// }