.button-back-style{
  border-color: transparent;
  position:fixed;
  bottom: 24em;
  right: -5em;
  animation-name: pulse;
  animation-duration: 1.5s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
  z-index: 1;
  
  &:hover{
    right: 0;
  }
}

@keyframes pulse{
  0%, 100% {
    opacity: 1;
  }
  
  50% {
    background-color: orange;
  }

  80%{
    background-color: rgba(241, 32, 4, 0.884);
  }
  100%{
    background-color: rgb(36, 179, 31);
  }
}