.dash-title, .dash-description{
    font-weight:bold;
    font-size:18pt;
    color:#6b6b6b;
    margin-bottom: 10px;
}
.dash-description{
    font-size:14pt;
}

.container-stat {
    margin-bottom: 10px;
    .container-image {
        width:35px;
        display: inline-block;
        margin-right:30px;

        img{
            width: 100%;
        }
    }
    .container-text {
        text-align:left;
        width:auto;
        display:inline-block;
        .text-value{
            font-weight:bold;
            font-size:11pt;
            color:#6b6b6b;
        }
    }
}