.book-list{      
  /* row data */
  .ant-table-tbody > tr > td {
    height: 70px;
    padding: 4px;
  }
  .ant-table-thead > tr > th {
    height: 5px;
    padding: 4px;
  }
}

.category-list{      
  /* row data */
  .ant-table-tbody > tr > td {
    height: 70px;
    padding: 4px;
  }
  .ant-table-thead > tr > th {
    height: 5px;
    padding: 4px;
  }
}