$widthmax :1280px;
$primary-color :#C92036 ;
$second-color :#f0f2f5 ;
@import url("https://fonts.googleapis.com/css?family=Poppins");
::-webkit-scrollbar {
  width: 1em;               /* width of the entire scrollbar */
}
::-webkit-scrollbar-track {
  background: $second-color;        /* color of the tracking area */
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  background-color: $primary-color;    /* color of the scroll thumb */
  border-radius: 1.2em;       /* roundness of the scroll thumb */
  border: 3px solid $second-color;  /* creates padding around scroll thumb */
}

body {
  overflow-x: hidden;
}
@mixin boxshadow (){
  box-shadow: 0 0.25rem 0.875rem 0 $second-color;
}
@mixin wrappersection(){
  width: 100%;
  height: 100%;
  max-width:$widthmax;
  padding-right: 1em;
  padding-left: 1em;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

@mixin contentmixin() {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1em;
  margin-left: -1em;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

@mixin hrmixin(){
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

@mixin dividermixin() {
  max-width: 3.25em;
  border-width: 0.2em;
  border-color: $second-color;
  margin:1.5em auto !important;
}

@mixin contentonemixin(){
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
  align-self: flex-end;
}

.header__navigation{
  @include boxshadow();
  line-height: 2.8125em;
  padding : 0.5em 10em;
  display:flex;
  justify-content:space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  transition: background-color 0.2s ease;
  flex-flow: row;
  align-items: center;
  
  @media screen and (max-width: 600px) {
    padding : 0.5em 2em;
    display: flex;
    justify-content:flex-start;
  }

  figure{
    margin: 0;
  }

  a {
    margin: 0 .4em;
  }
}

.header__navbar{
  @media screen and (max-width: 600px) {
    display: none;
  }

  &--signin{
    background-color:$primary-color !important;
    color:$second-color !important;
    margin:0 0 0 .3em;
    font-weight:bold;
  }
  &--signup{
    color:$primary-color !important;
    margin:0 0 0 .7em;
    font-weight:bold;
  }
}
.toggleMenuBar{
  display: none;

  @media screen and (max-width: 600px) {
    display: inline-block;
    font-size: large;
    position: absolute;
    right: 1.5em;
    top: .2em;
    color:$primary-color
  }
}

.header__master{
  height: 100vh;
  min-height: 40rem;
  padding-top: 4.5rem;
  padding-bottom: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.header__wrapper{
  @include wrappersection();
}

.header__content{
  @include contentmixin();

  &--1{
    flex: 0 0 80%;
    max-width: 80%;
    align-self: flex-end;
    margin-top: 16em;
    @media screen and (max-width: 600px) {
      margin-top: 4em;
    }

    & h1{
      font-size: 3.5em; 
      text-transform: uppercase;
      font-weight: 700;
      color: $second-color;

      @media screen and (max-width: 600px) {
        font-size: 2.5em; 
      }
    }

    & hr{
      @include hrmixin();
    }
  }
  &--2{
    flex: 0 0 70%;
    max-width: 70%;
    align-self: baseline;

    & p {
      color: $second-color;
      font-size: 1.15rem;
      text-align: center;
    }
  }
  &--divider{
    max-width: 3.25em;
    border-width: 0.2em;
    border-color: $primary-color;
    margin:1.5em auto !important;
  }
}

.about__master{
  background-color:$primary-color;
}
.about__wrapper{
  @include wrappersection();
}

.about__content{
  padding: 2em 0;
  @include contentmixin();

  &--1{
    @include contentonemixin();

    & h2{
      text-transform: uppercase;
      color: $second-color;
    }

    & hr{
      @include hrmixin();
    }

    & p {
      color: $second-color;
      font-size: 1.15rem;
      text-align: center;
    }
  }
  &--divider{
    @include dividermixin();
  }
  &--button{
    background-color:$second-color !important;
    color:$primary-color !important;
    margin-top:2.5em;
    font-weight:bold;

    box-shadow:0 0 0.275rem 0em $second-color;
    &:hover{
      box-shadow: none;
    }
  }
  &--heading{
    font-weight:bold !important;
  }
}

.services__master{
  background-color: $second-color;
}
.services__wrapper{
  @include wrappersection();
}

.services__content{
  padding: 2em 0 0 0;
  @include contentmixin();

  &--1{
    @include contentonemixin();

    & h2{
      text-transform: uppercase;
      color: $primary-color;
    }
    
    & hr{
      @include hrmixin();
    }
  }
  &--divider{
    max-width: 3.25em;
    border-width: 0.2em;
    border-color: $primary-color;
    margin:1.5em auto !important;
  }
  &--card{
    box-shadow: 0 0.25rem 0.875rem 0 $primary-color;
    border-radius: 7%;
  }
  &--heading{
    font-weight: bold !important;
  }
}
.portfolio__master{
  background-color: $second-color;
}
// portfolio
$duration : 450ms;
$tileWidth : 250px;
$tileHeight : ($tileWidth / (16/9));
$iconSize : 50px;
$growFactor : 1.5; // 1.5 times the original size

$moveLeft : -($tileWidth * ($growFactor - 1) / 2);
$moveRight : $tileWidth * ($growFactor - 1);
.row{
  overflow-x: hidden;
  &:hover{
    overflow-x: scroll;
  }
  overflow-y: hidden;
  width: 100%;
}

.row__inner{
  transition: $duration transform;
  font-size: 0;
  white-space: nowrap;
  margin: ($tileHeight / 2) 0;
  padding-bottom: 10px; // Account for OS X scroll bar
}

.tile{
  position: relative;
  display: inline-block;
  width: $tileWidth;
  height: $tileHeight;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: $duration all;
  transform-origin: center left;
}

.tile__img{
  width: 100%;
  height: $tileHeight;
  object-fit:contain;
}

.tile__details{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  font-size: 10px;
  opacity: 0;
  // background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
  transition: $duration opacity;

  &:after,
  &:before{
    content: '';
    position:absolute;
    top: 50%;
    left: 50%;
    // display: black;
  }

  .tile:hover &{
    opacity: 1;
  }

}
.tile__title{
  position: absolute;
  bottom: 0;
  padding: 10px;
}
// *
// * Hover effects
// *

// We assume when you hover .row, you're also hovering a .tile
// First, move the whole row towards the left
.row__inner:hover{
  transform: translate3d($moveLeft, 0, 0);
}

.row__inner:hover .tile{
  // Fade out every tile
  opacity: .3;
  
  // And then grow the current tile and make it opaque again
  &:hover{
    transform: scale($growFactor);
    opacity: 1;
  }
}

// And finally move all tiles right of the current tile to the right,
// so its flush against the hovered tile
.tile:hover ~ .tile{
  transform: translate3d($moveRight, 0, 0);
}

.contact__master{
  background-color:$primary-color;
}
.contact__wrapper{
  @include wrappersection();
}

.contact__content{
  padding: 2em 0;
  @include contentmixin();

  &--1{
    @include contentonemixin();

    & h2{
      text-transform: uppercase;
      color: $second-color;
    }

    & hr{
      @include hrmixin();
    }

    & p {
      color: $second-color;
      font-size: 1.15rem;
      text-align: center;
    }
  }
  &--divider{
    @include dividermixin();
  }
  &--heading{
    font-weight: bold;
  }
  &--telp{
    font-weight:'bold';
    color:$second-color;

    @media screen and (max-width: 600px) {
      font-weight:normal;
      font-size: 1em;
    }
  }
  &--anchor{
    color: $second-color;
    font-weight:bold;
    @media screen and (max-width: 600px) {
      font-weight:normal;
      font-size: .9em;
    }
  }
  &--anchor:hover{
    color: $second-color;
  }
  &--img{
    @include boxshadow();
    border-radius: 1.1em;
  }
}
.ant-btn:hover{
  border-color: $primary-color;
}
.ant-anchor{
  display: flex;
}

.toggleNav{
  position: fixed;
  background-color: $second-color;
  top: 3em;
  right: 0em;
  padding: .7em;
  width: 100%;
}

.ant-anchor-wrapper{
  background-color: transparent;
}
.ant-anchor-link-title{
  color: $primary-color;
}
.ant-anchor-ink{
  display: none;
}
.ant-anchor-link-active > .ant-anchor-link-title{
  color: $primary-color;
  font-weight: 700;
}
a:hover{
  color: $primary-color;
}
