.ant-alert-info{
  background-color: #FFF9FA;
  border: 1px solid #C92036;
}

.login__page{
  &--wrapper{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
  }
  &--title{
    display:grid;
    justify-items:center;
    align-content:center;
    height:100vh;

    figure{
      cursor:pointer;
    }
  }
  &--content{
    display:grid;
    align-content:center;

    &-wrap{
      padding:3em;
    }
  }
}