
$bg: darken(#F76B1C, 20%);
@mixin notallowmixin() {
  background: darken(#F76B1C, 20%);
  opacity: 0.3;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}
.container-notallow {
  text-align: center;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
  div {
    display: inline-block;
  }
  .lock {
    opacity: 1;
  }
  h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 100px;
    text-align: center;
    color: #1E1F26;
    font-weight: 100;
    margin: 0;
  }
  p {
    font-size: 15pt;
  }
  .notallow-sub-continer{
    vertical-align: middle;
    width: 400px;
    margin: auto;
    display: inline-block;
  }
}
.lock {
    transition: 0.5s ease;
    position: relative;
    overflow: hidden;
    opacity: 0;
  &.generated {
    transform: scale(0.5);
    position: absolute;
    animation: 3s move linear;
    animation-fill-mode: forwards;
  }
  .bottom {
    background: #D68910;
    height: 40px;
    width: 60px;
    display: block;
    position: relative;
    margin: 0 auto;
    &::after {
        content: '';
        @include notallowmixin();
        width: 50%;
      }
  }
  .top {
    height: 60px;
    width: 50px;
    border-radius: 50%;
    border: 10px solid #fff;
    display: block;
    position: relative;
    top: 30px;
    margin: 0 auto;
    &::after {
        content: '';
        @include notallowmixin();
        width: 100%;
        border-radius: 50%;
    }
  }
}
@keyframes move {
  to {
    top: 100%;
  }
}
@media (max-width: 420px) {
  .lock.generated {
    transform: scale(0.3);
  }
}