::selection {
  color: $white-color;
  background:$red-color;
}
.ant-select:not(.ant-select-disabled):hover .ant-select-selector,.ant-input-search-enter-button input:hover, .ant-input-search-enter-button input:focus{
  border-color:$red-color !important;
}
.ant-input:hover,.ant-input:focus, .ant-picker:hover, .ant-picker-focused, .ant-input-search-button,.ant-input-search-button:hover,.ant-pagination-item-active{
  border-color:$red-color !important;
}
.ant-steps-item-finish .ant-steps-item-icon,.ant-steps .ant-steps-item:not(.ant-steps-item-active):not(.ant-steps-item-process) > .ant-steps-item-container[role="button"]:hover .ant-steps-item-icon{
  border-color:$red-color !important;
}
.ant-steps-item-process .ant-steps-item-icon,.ant-upload.ant-upload-select-picture-card:hover,.ant-input-affix-wrapper:hover,.ant-input-number:hover{
  border-color:$red-color !important;
}
.ant-input-number:focus, .ant-input-number-focused,.ant-input-affix-wrapper:focus, .ant-input-affix-wrapper-focused,.ant-input-affix-wrapper:focus, .ant-input-affix-wrapper-focused,.ant-input:focus, .ant-input-focused,.ant-picker-focused{
  border-color:$red-color !important;
  box-shadow: $box-shadow-red !important;
}
.ant-picker-range .ant-picker-active-bar,.ant-input-search-button,.ant-input-search-button:hover,.ant-steps-item-process .ant-steps-item-icon{
  background: $red-color !important;
}
.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-tail::after, .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after{
  background-color: $red-color !important;
}
.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon, .ant-steps .ant-steps-item:not(.ant-steps-item-active) > .ant-steps-item-container[role="button"]:hover .ant-steps-item-title,.ant-steps .ant-steps-item:not(.ant-steps-item-active):not(.ant-steps-item-process) > .ant-steps-item-container[role="button"]:hover .ant-steps-item-icon .ant-steps-icon{
  color: $red-color !important;
}
.ant-pagination-prev:focus .ant-pagination-item-link, .ant-pagination-next:focus .ant-pagination-item-link, .ant-pagination-prev:hover .ant-pagination-item-link, .ant-pagination-next:hover .ant-pagination-item-link{
  color: $red-color !important;
}
/* input tabs color */
.ant-tabs-nav .ant-tabs-tab-active{
  color: $red-color !important;
  &:hover{
    color: $red-color-2 !important;
  }
}
.ant-tabs-nav .ant-tabs-tab:hover,.ant-menu-submenu-selected,.ant-menu-item-selected,.ant-menu-item-selected > a, .ant-menu-item-selected > a:hover,.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
  color: $red-color !important;
}
.ant-tabs-ink-bar{
  background-color: $red-color !important;
}
/* input menu-submenu background, color */
.ant-menu-submenu-vertical > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after, .ant-menu-submenu-vertical-left > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after, .ant-menu-submenu-vertical-right > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after, .ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after, .ant-menu-submenu-vertical > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before, .ant-menu-submenu-vertical-left > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before, .ant-menu-submenu-vertical-right > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before, .ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before {
  background: linear-gradient(to right, $red-color, $red-color-1) !important;
}
.ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after {
  border-right: 3px solid $red-color !important;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: $red-color-0 !important;
}
.ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected {
  color: $red-color !important;
  border-bottom: 2px solid $red-color !important;
}
/* input border color */
// .ant-input:hover {
//   border-color: $red-color;
// }
// .ant-input:focus, .ant-input-focused {
//   border-color: $red-color;
//   box-shadow: 0 0 0 2px rgba(255, 24, 24, 0.2);
// }
// .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
//   border-color: $red-color;
// }
a{
  color: $red-color !important;
  &:hover{
    color: $red-color-2 !important;
  }
}
.ant-btn-link {
  color: $red-color !important;
  &:hover, &:focus {
    color: $red-color-2 !important;
  }
}
/* sidebar-minimized background, color */
.sidebar-minimized .sidebar .sidebar-minimizer{
  background: $red-color !important;
  color: $white-color !important;
}
.sidebar-minimized .sidebar .nav-item:hover > .nav-link{
  background: $white-color !important;
  color: $red-color !important;
}
.sidebar-minimized .sidebar .nav-item > .nav-link{
  background: $red-color !important;
  color: $white-color !important;
}
.sidebar-minimized .sidebar .nav-item:hover > .nav-link .nav-icon{
  color: $red-color !important;
}
body .sidebar .nav-dropdown.open .nav-link.active{
  background-color:$white-color !important;
}
.ant-btn:hover{
  border-color: initial !important;
}
body {
  .app-header .dropdown-item {
    min-width: auto !important;
  }
  ::-webkit-scrollbar {
    width: 1em !important;               /* width of the entire scrollbar */
  }
  ::-webkit-scrollbar-track {
    background: $white-color !important;        /* color of the tracking area */
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
  }
  ::-webkit-scrollbar-thumb {
    background-color: $red-color !important;    /* color of the scroll thumb */
    border-radius: 1.2em !important;       /* roundness of the scroll thumb */
    border: 3px solid $white-color !important;  /* creates padding around scroll thumb */
  }
  
  .sidebar {
    background: $red-color !important;

    .nav-link:hover.nav-dropdown-toggle::before{
      background-image:none !important;
    }
    .nav-dropdown.open .nav-link{
      color: $white-color !important;
      &:hover{
        color: $red-color !important;
      }
      &.active{
        color: $red-color !important;
      }
    }
    .nav-dropdown-items {
      .nav-link {
        padding-left: 30px !important;
      }
    }
    .nav-link {
      .nav-icon{
        color: $white-color !important;
      }

      &:hover{
        color: $red-color !important;
        background: $white-color !important;
        .nav-icon{
          color: $red-color !important;
        }
      }
      &.active{
        color: $red-color !important;
        background: $white-color !important;
        .nav-icon{
          color: $red-color !important;
        }
      }
    }
  }

  .ant-modal-wrap {
    z-index: 2000 !important;
  }

  .anticon {
    margin-top: -4px !important;
    vertical-align: 0 !important;
  }

  .ql-editor {
    min-height: 10em !important;
  }

  button {
    &.ql-latex {
      background-image: url("/img/latex.png") !important;
      background-clip: content-box !important;
      background-size: 30px 28px !important;
      background-position: 0px -1px !important;
      width: 32px !important;
      padding: 0 !important;
      background-repeat: no-repeat !important;
    }

    &.ql-rumus {
      background-image: url("/img/rumus.png") !important;
      background-clip: content-box !important;
      background-size: 30px auto !important;
      background-position: 0px 1px !important;
      margin-left: 7px;
      width: 32px !important;
      padding: 0 !important;
      background-repeat: no-repeat !important;
    }
  }
}

// .ant-menu-submenu-title:hover{
//   color: $white-color;
// }
// .ant-menu-item > a:hover{
//   color: $red-color;
// }

.ant-layout-sider-zero-width-trigger{
  position: fixed !important;
  top: .5em !important;
  // right: -2em !important;
  left: 10em !important;
  width: 3em !important;
  color: $red-color !important;
  background: transparent !important;
  border-radius: 0.3em 0.3em 0.3em 0.3em !important;
  z-index: 1 !important;
  
  &:hover{
    background: $white-color !important;
    color: $red-color !important;
  }
}