// Import styles
$sidebar-width: 250px;
$red-color: #C92036;
$red-color-1: #c52431;
$red-color-2: #861419;
$red-color-0: #eed2d2;
$white-color: #f0f2f5;
$box-shadow-red : 0 0 0 2px rgba(255, 24, 24, 0.2);

// ant-custom 
@import "./antd-custom.scss";
@import "~@coreui/coreui/scss/coreui.scss";
@import "~antd/dist/antd.css";
@import "~react-quill/dist/quill.snow.css";