.moco__header{
  padding: 0; 
  background-color: #fff; 
  position: fixed;
  z-index: 1;
  width: 100%;

  &--wrapper{
    display:flex;
    justify-content:space-between;
  }

  &--img{
    width:10.7143em;
  }
  &--avatar{
    margin:1.3em 1.5em 0 0;
  }
}