$red-color: #C92036;
.ant-menu-item:hover, .ant-menu-item-active, .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-submenu-active, .ant-menu-submenu-title:hover {
  color: $red-color;
}
.ant-menu-item > a:hover {
  color:$red-color;
}